.contact-section {
    width: 100%;
    height: -webkit-fit-content;
    width: 100%;
    height: -moz-fit-content;
    padding-bottom: 90px;
    background-color: var(--light-black);
}

.title {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    letter-spacing: 4px
}


/* Button */

.btn {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: white;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    letter-spacing: .2rem;
    padding: 4px 0;
    position: relative;
    text-decoration: none;
    z-index: 1;
    margin-top: 90px;
}

.btn::before {
    margin-top: -10px;
    background-color: #5328fe !important;
    width: 93%;
    content: '';
    height: 100%;
    position: absolute;
    left: -30%;
    top: 0;
    opacity: 1;
    z-index: -1;
}


.div-line {
    border-top: 2px solid white;
    width: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    margin-left: -50px; 
}