<div class="contact-section">
	<app-navbar></app-navbar>

	<div class="ui grid" style="margin-top: 8%;margin-bottom: 5%">
		<div class=" three wide tablet wide computer column "></div>
		<div class=" thirteen wide tablet five wide computer column ">
			<h1 class="white-text title">Let’s chat.</h1>

			<div class="div-line"></div>

			<p class="white-text">A photo — is a search for what can get into the frame. When you
				limit events to a frame — You change these events.</p>

			<button class="btn">LEAVE A MESSAGE</button>
		</div>
		<div class=" six wide computer column "></div>
		<div class=" two wide computer column "></div>
	</div>
</div>
<app-footer></app-footer>