<app-navbar></app-navbar>
<div class="journal-section">

  <div class="ui grid" style="padding-top: 8%;padding-bottom: 5%">
    <div class=" sixteen wide tablet wide computer column "></div>
    <div class=" sixteen  wide tablet sixteen wide computer column center aligned">
      <h1 class="white-text title animated fadeInUp">Journal section goes here.</h1>
    </div>
    <div class=" six wide computer column "></div>
    <div class=" two wide computer column "></div>
  </div>
</div>
<app-footer></app-footer>