/********************************************* 
                CLIENTS SECTION STYLES
**********************************************/
.clients-section {
    background-color: var(--light-black);
    height: 135%;
    min-height: 100vh;
    background-repeat: no-repeat;
    z-index: -5;
    padding-top: 40px;
}