<!-- ----------------------------------- 
              Clients section 
 ----------------------------------- -->

<div class="clients-section">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 style="color:green" *ngIf="show">Width: {{show}}</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="ui grid">
    <!-- First row -->
    <div class="blue two wide mobile two wide tablet four wide computer column" *ngIf="show"></div>
    <div class=" eight wide mobile three wide tablet  two wide computer column">

      <img src="../../../assets/logos/logo-01.png">
    </div>
    <div class=" eight wide mobile three wide tablet  two wide computer column">
      <img src="../../../assets/logos/logo-02.png">
    </div>
    <div class=" eight wide mobile three wide tablet  two wide computer column">
      <img src="../../../assets/logos/logo-03.png">
    </div>
    <div class=" eight wide mobile three wide tablet  two wide computer column">
      <img src="../../../assets/logos/logo-04.png">
    </div>
    <div class="  two wide mobile two wide tablet four wide computer column"></div>

    <!-- Second row -->
    <div class=" two wide mobile two wide tablet four wide computer column"></div>
    <div class=" three wide mobile three wide tablet  two wide computer column">

      <img src="../../../assets/logos/logo-03.png">
    </div>
    <div class=" three wide mobile three wide tablet  two wide computer column">
      <img src="../../../assets/logos/logo-04.png">
    </div>
    <div class=" three wide mobile three wide tablet  two wide computer column">
      <img src="../../../assets/logos/logo-07.png">
    </div>
    <div class=" three wide mobile three wide tablet  two wide computer column">
      <img src="../../../assets/logos/logo-08.png">
    </div>
    <div class="  two wide mobile two wide tablet four wide computer column"></div>
  </div>
</div>