.about-section {
    width: 100%;
    height: -webkit-fit-content;
    width: 100%;
    height: -moz-fit-content;
    padding-bottom: 10%;
    background-color: var(--light-black);
}

/* About Title */

.about-title {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 34px;
    letter-spacing: 6px;
    line-height: 50px;
    color: white;
    align-content: center;
    display: inline-block;
    padding: 0px 10px 0px 25px;
    position: relative;
    text-decoration: none;
    z-index: 1;
    /* margin-top: 0px; */
    margin-bottom: 170px;
    white-space: pre-wrap;
}

.about-title::before {
    border-left: 2px solid white;
    left: 50%;
    content: '';
    height: 90px;
    position: absolute;
    top: 125%;
    opacity: 1;
    z-index: -1;
}

.quotation {
    /* border-left: 2px solid white; */
    font-family: 'Lobster Two', cursive;
    color: white;
    font-size: 160px;
    letter-spacing: 3px;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Quote */

q {
    border-color: #eee;
    padding: 1.5em 0 0.5em;
    margin: 1.5em 0;
    position: relative;
    font-family: 'Abril Fatface', cursive;
}

q:before {
    content: '\201E';
}

.experience-info-box {
    padding: 40px;
}

/* Text */

.experience-year {
    color: white;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 11px;
    margin: 0px;
    text-transform: uppercase;
}

.experience-name {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    letter-spacing: 2px;
    line-height: 50px;
    color: white;
    align-content: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    z-index: 1;
    margin-bottom: 30px;
}

.experience-description {
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    font-size: 12px;
    line-height: 25px;
    color: white;
    align-content: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    z-index: 1;
    margin-bottom: 30px;
}

.experience-description:before {
    border-top: 2px solid white;
    left: -35px;
    width: 60px;
    content: '';
    height: 33%;
    position: absolute;
    top: 9px;
    opacity: 1;
    z-index: -1;
}

/* Image style in historical summary*/

.image-box {
    margin: 30px;
}

img {
    width: 100%;
    object-fit: contain;
}

/* Summary styles*/

.summary-box {
    padding-left: 43px !important;
}

.summary-category {
    color: white;
    font-family: 'Merriweather', serif;
    letter-spacing: 2px;
}

.summary-title {
    color: white;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1px;
}

.summary-description {
    color: #5E5E5E;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1px;
}

.line {
    border-top: 2px solid white;
    left: 0%;
    width: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.photography-card {
    /* height: 190px;
    padding-top: 15px;
    padding-bottom: 35px;
    padding-left: 30px;
    padding-right: 20px;
    position: relative; */
}

/* To opaque the image */

.layer {
    box-shadow: inset 0 0 0 1000px rgba(25, 21, 21, 0.31);
    top: 0;
    bottom: 0;
    left: 0;
    width: 110%;
    height: 110%;
}

#image {
    max-width: 100%;
    max-height: 100%;
    background-image: url("../../../assets/images/waves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.false {
    /* border: 1px solid red; */
    height: 30em;
    line-height: 1.25;
}