.about-section {
    width: 100%;
    height: -webkit-fit-content;
    width: 100%;
    height: -moz-fit-content;
    padding-bottom: 20%;
    background-color: red;
}

/* About Title */

.about-title {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 34px;
    letter-spacing: 6px;
    line-height: 50px;
    color: white;
    align-content: center;
    display: inline-block;
    padding: 0px 10px 0px 25px;
    position: relative;
    text-decoration: none;
    z-index: 1;
    /* margin-top: 0px; */
    margin-bottom: 170px;
    white-space: pre-wrap;
}

.about-title::before {
    border-left: 2px solid white;
    left: 50%;
    content: '';
    height: 90px;
    position: absolute;
    top: 125%;
    opacity: 1;
    z-index: -1;
}

.quotation {
    /* border-left: 2px solid white; */
    font-family: 'Lobster Two', cursive;
    color: white;
    font-size: 160px;
    letter-spacing: 3px;
    padding-bottom: 0;
    margin-bottom: 0;
}

q {
    /* display: block; */
    border-color: #eee;
    padding: 1.5em 0 0.5em;
    margin: 1.5em 0;
    position: relative;
    font-family: 'Abril Fatface', cursive;
}

q:before {
    content: '\201E';
}