<div class="about-section">
    <app-navbar></app-navbar>

    <!-- Title grid -->
    <div class="ui grid">
        <div class="blue sixteen wide tablet sixteen wide computer column center aligned">
            <h2 class="quotation"><q style="content: close-quote;"></q></h2>
        </div>
    </div>
    <div class="ui grid">
        <div class="green four wide computer column"></div>
        <div class="sixteen wide tablet eight wide computer column center aligned">
            <h2 class="about-title">Photography —is the most democratic of all arts. </h2>
        </div>
        <div class="green four wide computer column"></div>
    </div>

    <!-- Experience summary-->
    <div class="ui grid">
        <div class="blue three wide computer column center aligned"></div>

        <div class="yellow four wide computer column center aligned">

        </div>

        <div class="teal six wide computer column left aligned ">
            <div class="experience-info-box">

                <h4 class="experience-year">2015 year</h4>
                <h2 class="experience-name">Beginning of a photographer's career.</h2>
                <p class="experience-description">The world of design is ruled by diversity, and it's good. Another
                    question is whether to consider a lot of pieces of furniture as trash. That's it is this
                    responsibility — to create things, not junk, —
                    lies on the designer and the company-manufacturer. Bad architecture is even more harmful.
                    <br>
                    If you make an ugly, uncomfortable and expensive chair, then it will be forgotten very quickly, but
                    if you build a
                    terrible building — it will stay for twenty years and make many unhappy.</p>
            </div>
        </div>

        <div class="blue three wide computer column center aligned"> </div>
    </div>

    <div class="ui grid">
        <div class="blue three wide computer column center aligned"></div>

        <div class="teal six wide computer column left aligned ">
            <div class="experience-info-box">

                <h4 class="experience-year">2016 year</h4>
                <h2 class="experience-name">Opening of the office.</h2>
                <p class="experience-description">More than the design process itself, I am interested in inventions,
                    engineering and marketing ... I think that a good designer is someone who manages to unite all the
                    elements: the understanding of materials and the belief in increasing functionality. Then the
                    reduction to the form, if you like, becomes the result of all these experiments.</p>
            </div>
        </div>

        <div class="yellow four wide computer column center aligned">

        </div>

        <div class="blue three wide computer column center aligned"> </div>
    </div>
</div>
<app-newsletter></app-newsletter>
<app-footer></app-footer>