<div class="about-section">
    <app-navbar></app-navbar>

    <!-- Title grid -->
    <div class="ui grid">
        <div class=" sixteen wide tablet sixteen wide computer column center aligned">
            <h2 class="quotation"><q style="content: close-quote;"></q></h2>
        </div>
    </div>
    <div class="ui grid">
        <div class=" four wide computer column"></div>
        <div class="sixteen wide tablet eight wide computer column center aligned">
            <h2 class="about-title">Photography —is the most democratic of all arts. </h2>
        </div>
        <div class=" four wide computer column"></div>
    </div>

    <!-- ------------------------------------------------ 
           Experience Summary
    ------------------------------------------------- -->

    <!-- Experience 1-->
    <div class="ui grid">
        <div class=" three wide computer column center aligned"></div>

        <div class=" sixteen wide tablet four wide computer column center aligned">
            <div class="image-box">
                <img src="https://images.unsplash.com/photo-1530883384668-db906d974ff9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
        </div>

        <div class="tealsixteen wide tablet six wide computer column left aligned ">
            <div class="experience-info-box">

                <h4 class="experience-year">2015 year</h4>
                <h2 class="experience-name">Beginning of a photographer's career.</h2>
                <p class="experience-description">The world of design is ruled by diversity, and it's good. Another
                    question is whether to consider a lot of pieces of furniture as trash. That's it is this
                    responsibility — to create things, not junk, —
                    lies on the designer and the company-manufacturer. Bad architecture is even more harmful.
                    <br>
                    If you make an ugly, uncomfortable and expensive chair, then it will be forgotten very quickly, but
                    if you build a
                    terrible building — it will stay for twenty years and make many unhappy.</p>
            </div>
        </div>

        <div class=" three wide computer column center aligned"> </div>
    </div>

    <!-- Experience 2-->
    <div class="ui grid">
        <div class=" three wide computer column center aligned"></div>

        <div class=" sixteen wide tablet six wide computer column left aligned ">
            <div class="experience-info-box">

                <h4 class="experience-year">2016 year</h4>
                <h2 class="experience-name">Opening of the office.</h2>
                <p class="experience-description">More than the design process itself, I am interested in inventions,
                    engineering and marketing ... I think that a good designer is someone who manages to unite all the
                    elements: the understanding of materials and the belief in increasing functionality. Then the
                    reduction to the form, if you like, becomes the result of all these experiments.</p>
            </div>
        </div>

        <div class=" sixteen wide tablet four wide computer column center aligned">
            <div class="image-box">
                <img src="https://images.unsplash.com/photo-1478186014654-5a7e3898daa5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
        </div>

        <div class=" three wide computer column center aligned"> </div>
    </div>

    <!-- Experience 3-->
    <div class="ui grid">
        <div class=" three wide computer column center aligned"></div>

        <div class=" sixteen wide tablet four wide computer column center aligned">
            <div class="image-box">
                <img src="https://images.unsplash.com/photo-1513760870-d12407065ae4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
        </div>

        <div class=" sixteen wide tablet six wide computer column left aligned ">
            <div class="experience-info-box">

                <h4 class="experience-year">2017 year</h4>
                <h2 class="experience-name">Cooperation with world brands.</h2>
                <p class="experience-description">My work is simple and sophisticated, so it can be described in both
                    simple and florid language. I love sophistication and I feel its superiority. I like people with a
                    sophisticated mind and at the same time simple in communication. These qualities can be combined
                    quite naturally. However, objects, like people, look pathetic if these properties are connected in
                    them artificially.</p>
            </div>
        </div>

        <div class=" three wide computer column center aligned"> </div>
    </div>

    <!-- ------------------------------------------------ 
                    Summary
    ------------------------------------------------- -->

    <div class="ui grid" style="margin-top: 250px;">
        <div class="three wide computer column "></div>
        <!-- First Summary -->
        <div class="sixteen wide tablet three wide computer column summary-box">
            <h2 class="summary-category">Experience.</h2>
            <div class="line"></div>
            <h3 class="summary-title">Photo Agency Shutter</h3>
            <p class="summary-description">Photographer-intern</p>
            <p class="summary-description">2016–2017</p>

            <h3 class="summary-title">Studio e.Oliver</h3>
            <p class="summary-description">Photographer-retoucher</p>
            <p class="summary-description">2017–Present</p>
        </div>
          <!-- Second Summary -->
        <div class="sixteen wide tablet three wide computer column summary-box">
            <h2 class="summary-category">Education.</h2>
            <div class="line"></div>
            <h3 class="summary-title">Photography School</h3>
            <p class="summary-description">New York Film Academy </p>
            <p class="summary-description">2010–2012</p>

            <h3 class="summary-title">Photography Universities</h3>
            <p class="summary-description">Bloomfield Hills</p>
            <p class="summary-description">MI 2013–2015</p>
        </div>
          <!-- Third Summary -->
        <div class="sixteen wide tablet three wide computer column summary-box">
            <h2 class="summary-category">Equipment.</h2>
            <div class="line"></div>
            <h3 class="summary-title">Digital cameras</h3>
            <p class="summary-description">Canon EOS 5D Mark IV</p>
            <p class="summary-description">Sony Alpha A7R II</p>

            <h3 class="summary-title">Video camera</h3>
            <p class="summary-description">Sony AX53 4K Handycam</p>
            <p class="summary-description">4K 24p Cinema/60p</p>
        </div>
        <div class="two wide computer column"></div>
    </div>
</div>
<app-newsletter></app-newsletter>
<app-footer></app-footer>