<div class="about-section">
    <app-navbar></app-navbar>

    <div class="ui grid">
        <div class="blue sixteen wide tablet sixteen wide computer column center aligned">
            <h2 class="quotation"><q style="content: close-quote;"></q></h2>
        </div>
    </div>
    <div class="ui grid">
        <div class="green four wide computer column"></div>
        <div class="sixteen wide tablet eight wide computer column center aligned">
            <h2 class="about-title">Photography —is the most democratic of all arts. </h2>
        </div>
        <div class="green four wide computer column"></div>
    </div>
</div>
<app-newsletter></app-newsletter>
<app-footer></app-footer>