<div class="footer-section">
    <div class="ui stackable five column grid">
      <div class="green column"></div>
      <div class="red column">
          <h3 class="footer-title">Office</h3>
          <p class="footer-content">756 Livingston Street,</p>
          <p class="footer-content">Brooklyn, NY 11201</p>
      </div>
      <div class="blue column">
          <h3 class="footer-title">Get in touch</h3>
          <p class="footer-content">work@e.oliver.com</p>
          <p class="footer-content">+1 (00) 123-45-67</p>
      </div>
      <div class="green column">
          <h3 class="footer-title">Social</h3>
          <p class="footer-content">Connect with me on facebook</p>
          <p class="footer-content">twitter or instagram</p>
      </div>
      <div class="blue column"></div>
    </div>

</div>
