<style>
  .btn {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: white;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    letter-spacing: .2rem;
    padding: 4px 0;
    position: relative;
    text-decoration: none;
    z-index: 1;
    margin-top: 30px;
  }

  .btn::before {
    margin-top: -10px;
    background-color: #5328fe !important;
    width: 60%;
    content: '';
    height: 100%;
    position: absolute;
    left: -30%;
    top: 0;
    opacity: 1;
    z-index: -1;
  }
  
</style>
<div class="header">
  <app-navbar></app-navbar>

  <div class="ui stackable grid ">
    <div class="green two wide column center aligned">
      <nav class="rotated">
        <a href="#">Twitter</a>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
      </nav>
    </div>
    <div class="red six wide column ">
      <h4 class="white-text">I N T R O D U C T I O N</h4>
      <h1 class="white-text">Photography is <br>a journey.</h1>

      <p>My advice to everyone is to create life, not to consume it. I'm curious to see how many emotions now apper in
        things created with the help of complex technologies. They are so loaded with different feelings that it is no
        longer possible to separate emotions and work from the instrument on wich it is done.</p>

      <button class="btn">DISCOVER</button>

    </div>
    <div class="orange six wide column"></div>
    <div class="green two wide column center aligned">
      <nav class="rotated ">
        <a href="#">--------------- EXPLORE MORE</a>

      </nav>
    </div>
  </div>

</div>