<style>
  .btn {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: white;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    letter-spacing: .2rem;
    padding: 4px 0;
    position: relative;
    text-decoration: none;
    z-index: 1;
    margin-top: 30px;
  }

  .btn::before {
    margin-top: -10px;
    background-color: #5328fe !important;
    width: 93%;
    content: '';
    height: 100%;
    position: absolute;
    left: -30%;
    top: 0;
    opacity: 1;
    z-index: -1;
  }

  .little-title{
    font-family: Poppins,sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  
  .title{
    font-family: 'Merriweather', serif;
    font-size: 40px;
  letter-spacing: 4px
}

p {
  line-height: 27px;
  /* padding-right: 100px; */
  text-align: justify;
  font-size: 13px;
}

@media screen and (min-width: 900px) {
   .main-paragraph{
    width: 30%
   }
  }
  
  @media screen and (max-width: 900px) {
    .main-paragraph{
     width: 80%
    }
    
}

</style>
<div class="header">
  <app-navbar></app-navbar>

  <div class="ui stackable grid ">
    <div class="green two wide column center aligned">
      <nav class="rotated">
        <a href="#">Twitter</a>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
      </nav>
    </div>
    <div class="red twelve wide column ">
      <h4 class="white-text little-title">INTRODUCTION</h4>
      <h1 class="white-text title">Photography is <br>a journey.</h1>

      <div class="divider"></div>

      <div class="main-paragraph">
          <p>My advice to everyone is to create life, not to consume it. I'm curious to see how many emotions now apper in
              things created with the help of complex technologies. They are so loaded with different feelings that it is no
              longer possible to separate emotions and work from the instrument on wich it is done.</p>

      </div>


      <button class="btn">DISCOVER</button>

    </div>
    <!-- <div class="orange seven wide column"></div> -->
    <div class="green two wide column center aligned">
      <nav class="rotated ">
        <a href="#">--------------- EXPLORE MORE</a>

      </nav>
    </div>
  </div>

</div>