/********************************************* 
                 HEADER STYLES
**********************************************/

/* Header section */

.header-section {
    width: 100%;
    height: -webkit-fit-content;
    width: 100%;
    height: -moz-fit-content;
    padding-bottom: 12%;
    background-color: teal;
}

/* Socian nav */

nav.social a:hover {
    content: "";
    background-color: var(--violet);
    z-index: -1;
    transition: 1s;
}

/* Media queries to rotate the social media menu  */

@media screen and (min-width: 766px) {
    nav.social {
        vertical-align: middle;
        margin: 30% 20px 20px 30px;
        position: absolute;
        /* right:50%; */
        text-align: center;
        -webkit-writing-mode: vertical-lr;
        -moz-writing-mode: vertical-lr;
        -ms-writing-mode: vertical-lr;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }
    nav.social a {
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 0.8em 0.4em;
        font-size: 1em;
    }
}

@media screen and (max-width: 766px) {
    nav.social a {
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 0.8em 0.4em;
        font-size: 15px;
    }
}

/* Titles */

.title {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    letter-spacing: 4px
}

.sub-title {
    font-family: Poppins, sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 0;
    text-transform: uppercase;
}

@media screen and (max-width: 427px) {
    .title {
        font-family: 'Merriweather', serif;
        font-size: 25px;
        letter-spacing: 3px
    }
}

p {
    line-height: 27px;
    text-align: justify;
    font-size: 13px;
}

/* Media queries to resize de div paragraph box  */

@media screen and (min-width: 900px) {
    .main-paragraph {
        width: 34%;
        margin-top: 25px;
    }
}

@media screen and (max-width: 900px) {
    .main-paragraph {
        width: 80%;
        margin-top: 25px;
    }
}

@media screen and (max-width: 445px) {
    .main-paragraph {
        width: 80%;
        margin-top: 25px;
        padding-right: 55px;
    }
}

/* Explore nav  */
/* Media queries to rotate the EXPLORE menu  */

@media screen and (min-width: 766px) {
    .explore {
        color: white;
        margin-right: -15px;
        top: 40%;
        position: relative;
        float: right;
        transform: rotate(-90deg);
    }
    .explore::after {
        width: 45%;
        border-top: 2px solid white;
        content: '';
        height: 55%;
        position: absolute;
        left: -60%;
        top: 50%;
        opacity: 1;
        z-index: -1;
    }
}

@media screen and (max-width: 766px) {
    .explore {
        color: white;
        top: 50%;
        position: relative;
        float: center;
        transform: rotate(0deg);
    }
    .explore::after {
        width: 45%;
        border-top: 2px solid white;
        content: '';
        height: 55%;
        position: absolute;
        left: -60%;
        top: 50%;
        opacity: 1;
        z-index: -1;
    }
}

/* Button */

.btn {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: white;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    letter-spacing: .2rem;
    padding: 4px 0;
    position: relative;
    text-decoration: none;
    z-index: 1;
    margin-top: 30px;
}

.btn::before {
    margin-top: -10px;
    background-color: #5328fe !important;
    width: 93%;
    content: '';
    height: 100%;
    position: absolute;
    left: -30%;
    top: 0;
    opacity: 1;
    z-index: -1;
}