<style>


</style>
<div class="header">
  <app-navbar></app-navbar>

  <div class="ui stackable grid" style="margin-top:130px; min-height: 50vh">
    <div class="three wide column center aligned">
      <nav class="rotated">
        <a href="https://twitter.com/" target="_blank">Twitter</a>
        <a href="https://www.facebook.com/" target="_blank">Facebook</a>
        <a href="https://www.instagram.com" target="_blank">Instagram</a>
      </nav>
    </div>
    <div class="eleven wide column ">
      <h4 class="white-text little-title">INTRODUCTION</h4>
      <h1 class="white-text title">Photography is <br>a journey.</h1>

      <div class="divider"></div>

      <div class="main-paragraph">
        <p class="white-text">My advice to everyone is to create life, not to consume it. I'm curious to see how many emotions now apper
          in
          things created with the help of complex technologies. They are so loaded with different feelings that it is
          no
          longer possible to separate emotions and work from the instrument on wich it is done.</p>

      </div>


      <button class="btn">DISCOVER</button>

    </div>
    <div class="two wide column center aligned" style="position: relative">
      <a href="#" class="explore" >EXPLORE MORE</a>
    </div>
  </div>

</div>