<!-- ----------------------------------- 
              Clients section 
 ----------------------------------- -->

<div class="clients-section">

  <!-- <div class="ui grid">
    <div class="four wide column"></div>
    <div class="two wide column">
      <img src="../../../assets/logos/logo-01.png">
    </div>
    <div class="two wide column">
      <img src="../../../assets/logos/logo-01.png">
    </div>
    <div class="two wide column">
      <img src="../../../assets/logos/logo-01.png">
    </div>
    <div class="two wide column">
      <img src="../../../assets/logos/logo-01.png">
    </div>
    <div class="four wide column"></div>
  </div>
  <div class="ui grid">
      <div class="four wide column"></div>
      <div class="two wide column">
        <img src="../../../assets/logos/logo-01.png">
      </div>
      <div class="two wide column">
        <img src="../../../assets/logos/logo-01.png">
      </div>
      <div class="two wide column">
        <img src="../../../assets/logos/logo-01.png">
      </div>
      <div class="two wide column">
        <img src="../../../assets/logos/logo-01.png">
      </div>
      <div class="four wide column"></div>
    </div> -->

  <div class="ui grid">
    <!-- First row -->
    <div class=" sixteen wide mobile two wide tablet four wide computer column"></div>
    <div class="eight wide mobile three wide tablet  two wide computer column">

      <img src="../../../assets/logos/logo-01.png">
    </div>
    <div class="eight wide mobile three wide tablet  two wide computer column">
      <img src="../../../assets/logos/logo-03.png">
    </div>
    <div class=" eight wide mobile three wide tablet  two wide computer column">
      <img src="../../../assets/logos/logo-02.png">
    </div>
    <div class=" eight wide mobile three wide tablet  two wide computer column">
      <img src="../../../assets/logos/logo-08.png">
    </div>
    <div class="  sixteen wide mobile two wide tablet four wide computer column"></div>

    <!-- Second row -->
    <div class=" sixteen wide mobile two wide tablet four wide computer column"></div>
    <div class=" eight wide mobile three wide tablet  two wide computer column">

      <img src="../../../assets/logos/logo-08.png">
    </div>
    <div class=" eight wide mobile three wide tablet  two wide computer column">
      <img src="../../../assets/logos/logo-02.png">
    </div>
    <div class=" eight wide mobile three wide tablet  two wide computer column">
      <img src="../../../assets/logos/logo-03.png">
    </div>
    <div class=" eight wide mobile three wide tablet  two wide computer column">
      <img src="../../../assets/logos/logo-07.png">
    </div>
    <div class="  sixteen wide mobile two wide tablet four wide computer column"></div>
  </div>
</div>