<div class="pricing-section">
  <div class="ui container main">
    <h2 class="pricing-title center aligned">Pricing.</h2>
    <div class="ui grid">
      <div class="sixteen wide mobile sixteen wide tablet eight wide computer column price-paragraph" width="60%">
        <p>
          The photo leaves open moments, which immediately overlap with the pressure of time.
        </p>
      </div>
    </div>
  </div>

  <style>

  </style>

  <div class="ui grid" style="margin-top: 150px;">
    <div class="sixteen wide mobile eight wide tablet four wide computer column layer" id="model">
      <div class="photography-card ">

        <h2 class="card-title">Model <br>Photography.</h2>
        <h4 class="card-catalog">PHOTOS</h4>
        <h4 class="card-option">Package of 50</h4>

        <h4 class="card-catalog">PROCESSING</h4>
        <h4 class="card-option">Retouch</h4>

        <h4 class="card-catalog">TYPE OF CAMERA</h4>
        <h4 class="card-option">Semi-professional</h4>

        <h4 class="card-catalog">RESOLUTION</h4>
        <h4 class="card-option">12 MP</h4>

        <h4 class="card-catalog">TERM</h4>
        <h4 class="card-option">14 days</h4>

        <div class="ui grid">
          <div class=" eight wide column computer">
            <h3 class="card-price">$39</h3>
          </div>
          <div class=" eight wide column computer ">
            <h4 class="explore">EXPLORE</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="sixteen wide mobile eight wide tablet four wide computer column layer" id="event">
      <div class="photography-card">
        <h2 class="card-title">Photography of <br>events.</h2>
        <h4 class="card-catalog">PHOTOS</h4>
        <h4 class="card-option">Package of 150</h4>

        <h4 class="card-catalog">PROCESSING</h4>
        <h4 class="card-option">Correction</h4>

        <h4 class="card-catalog">TYPE OF CAMERA</h4>
        <h4 class="card-option">Semi-professional</h4>

        <h4 class="card-catalog">RESOLUTION</h4>
        <h4 class="card-option">32 MP</h4>

        <h4 class="card-catalog">TERM</h4>
        <h4 class="card-option">14 - 21 days</h4>

        <div class="ui grid">
          <div class=" eight wide column computer">
            <h3 class="card-price">$59</h3>
          </div>
          <div class=" eight wide column computer ">
            <h4 class="explore">EXPLORE</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="sixteen wide mobile eight wide tablet four wide computer column layer" id="corporate">
      <div class="photography-card">
        <h2 class="card-title">Corporate<br> photography.</h2>

        <h4 class="card-catalog">PHOTOS</h4>
        <h4 class="card-option">Package of 500</h4>

        <h4 class="card-catalog">PROCESSING</h4>
        <h4 class="card-option">Correction, Retouch</h4>

        <h4 class="card-catalog">TYPE OF CAMERA</h4>
        <h4 class="card-option">Professional</h4>

        <h4 class="card-catalog">RESOLUTION</h4>
        <h4 class="card-option">48 MP</h4>

        <h4 class="card-catalog">TERM</h4>
        <h4 class="card-option">30 days</h4>

        <div class="ui grid">
          <div class=" eight wide column computer">
            <h3 class="card-price">$99</h3>
          </div>
          <div class=" eight wide column computer ">
            <h4 class="explore">EXPLORE</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="sixteen wide mobile eight wide tablet four wide computer column layer" id="movies">
      <div class="photography-card">
        <h2 class="card-title">Photography for <br>movies.</h2>
        <h4 class="card-catalog">PHOTOS</h4>
        <h4 class="card-option">Unlimited</h4>

        <h4 class="card-catalog">PROCESSING</h4>
        <h4 class="card-option">All types of installation</h4>

        <h4 class="card-catalog">TYPE OF CAMERA</h4>
        <h4 class="card-option">Professional</h4>

        <h4 class="card-catalog">RESOLUTION</h4>
        <h4 class="card-option">68 MP</h4>

        <h4 class="card-catalog">TERM</h4>
        <h4 class="card-option">Individual</h4>

        <div class="ui grid">
            <div class=" eight wide column computer">
              <h3 class="card-price">Individual</h3>
            </div>
            <div class=" eight wide column computer ">
              <h4 class="explore">EXPLORE</h4>
            </div>
          </div>
      </div>
    </div>
  </div>

</div>