/********************************************* 
                PRICING SECTION STYLES
**********************************************/

.pricing-section {
    background-color: var(--light-black);
    height: 135%;
    min-height: 100vh;
    background-repeat: no-repeat;
    z-index: -5;
    padding-top: 40px;
    margin-bottom: 0px;
    /* position: relative; To overlaping with the next section */
}

/*Media queries to resize the background section height*/

@media screen and (max-width: 991px) {
    .pricing-section {
        background-color: var(--light-black);
        height: 215%;
        min-height: 100vh;
        background-repeat: no-repeat;
        z-index: -5;
        padding-top: 40px;
    }
    .padding-left {
        padding-left: 20%;
    }
}

@media screen and (max-width: 766px) {
    .pricing-section {
        background-color: var(--light-black);
        height: 345%;
        min-height: 100vh;
        background-repeat: no-repeat;
        z-index: -5;
        padding-top: 40px;
    }
    .padding-left {
        padding-left: 8%;
    }
}

@media screen and (max-width: 460px) {
    .pricing-section {
        background-color: var(--light-black);
        height: 355%;
        min-height: 100vh;
        background-repeat: no-repeat;
        z-index: -5;
        padding-top: 250%;
        /* margin-top: 50%; */
        padding-left: -30% !important;
        margin-left: -20%;
    }
    .padding-left {
        padding-left: -28% !important;
    }
}

/*Media querie to resize main container in mobile*/

@media screen and (max-width: 537px) {
    .main {
        left: 60%;
        margin-left: -5% !important;
    }
}

/*Price title*/

.pricing-title {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    letter-spacing: 4px;
    color: white;
    align-content: center;
    display: inline-block;
    letter-spacing: 6px;
    padding: 4px 0;
    position: relative;
    text-decoration: none;
    z-index: 1;
    margin-top: 30px;
    padding-left: 160px;
}

@media screen and (max-width: 537px) {
    .pricing-title {
        color: white;
        font-family: 'Merriweather', serif;
        font-size: 40px;
        letter-spacing: 4px;
        color: white;
        align-content: center;
        display: inline-block;
        letter-spacing: 6px;
        padding: 4px 0;
        position: relative;
        text-decoration: none;
        z-index: 1;
        margin-top: 30px;
        padding-left: 80px;
    }
    .pricing-title::before {
        border-bottom: 1px solid white;
        left: 45px !important;
        width: 25%;
        content: '';
        height: 33%;
        position: absolute;
        top: 110%;
        opacity: 1;
        z-index: -1;
    }

    .pricing-title::after {
        content: '06.';
        color: var(--dark-black-2);
        font-family: 'Poppins', sans-serif;
        font-size: 190px !important;
        letter-spacing: 15px !important;
        left: -70px !important;
        width: 40%;
        height: 33%;
        position: absolute;
        top: 330%;
        z-index: -2;
    }
}

.pricing-title::before {
    border-bottom: 1px solid white;
    left: 105px;
    width: 25%;
    content: '';
    height: 33%;
    position: absolute;
    top: 110%;
    opacity: 1;
    z-index: -1;
}

.pricing-title::after {
    content: '06.';
    color: var(--dark-black-2);
    font-family: 'Poppins', sans-serif;
    font-size: 240px;
    letter-spacing: 25px;
    left: -90px;
    width: 40%;
    height: 33%;
    position: absolute;
    top: 330%;
    z-index: -2;
}

/* Price  paragraph*/

.price-paragraph p {
    margin-top: 40px;
    color: white;
    line-height: 30px;
    z-index: 1;
    position: relative;
    padding-left: 160px;
}

@media screen and (max-width: 537px) {
    .price-paragraph p {
        margin-top: 40px;
        color: white;
        line-height: 30px;
        z-index: 1;
        position: relative;
        padding-left: 80px;
    }
}

/*Card photo*/

.photography-card {
    padding-top: 15px;
    padding-bottom: 35px;
    padding-left: 30px;
    padding-right: 20px;
    position: relative;
}

.layer {
    box-shadow: inset 0 0 0 1000px rgba(25, 21, 21, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    width: 110%;
    height: 110%;
}

.layer:hover {
    box-shadow: inset 0 0 0 1000px rgba(14, 14, 14, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    width: 110%;
    height: 110%;
    transition: .3s;
    transform-origin: left;
}

.card-title {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 20px !important;
    letter-spacing: 4px;
    line-height: 40px;
    color: white;
    align-content: center;
    display: inline-block;
    padding: 0px 0;
    margin-top: 0;
    position: relative;
    text-decoration: none;
    z-index: 1;
    margin-top: 30px;
    max-width: 240px;
}

.card-title::before {
    background-color: #5328fe !important;
    left: -0px;
    width: 100%;
    content: '';
    height: 19%;
    position: absolute;
    top: 76%;
    opacity: 1;
    z-index: -1;
}

.card-title::after {
    width: 10%;
    border-top: 1px solid white;
    content: '';
    height: 50%;
    position: absolute;
    left: -17%;
    top: 50%;
    opacity: 1;
    z-index: -1;
}

.card-catalog {
    color: #e0e0e0;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 10px;
    margin: 0px;
}

.card-option {
    margin-top: 3px;
    margin-bottom: 20px;
    color: white;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 12px;
}

.card-price {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 20px !important;
    letter-spacing: 1px;
    color: white;
    align-content: center;
    margin-top: 60px !important;
    padding-top: 20px;
    z-index: 1;
    margin-bottom: 0px;
}

/* Explore link */
.explore {
    color: white;
    right: 0;
    bottom: 0;
    margin-top: 3px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 12px;
    align-content: center;
    padding: 0px 0;
    margin-top: 0;
    position: absolute;
    z-index: 1;
    margin-bottom: 20px;
}

.explore:hover {
    color: white;
    right: 0;
    bottom: 0;
    margin-top: 3px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 13px;
    transition: .2s;
    align-content: center;
    padding: 0px 0;
    margin-top: 0;
    position: absolute;
    z-index: 1;
    margin-bottom: 20px;
}

.explore::after {
    width: 30px;
    border-top: 1px solid white;
    content: '';
    height: 50%;
    position: absolute;
    left: -40px;
    top: 50%;
    opacity: 1;
    z-index: -1;
}

/* Images grid */

#model {
    width: 100%;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/247206/pexels-photo-247206.jpeg?cs=srgb&dl=adult-attractive-beautiful-247206.jpg&fm=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#event {
    width: 100%;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/59884/pexels-photo-59884.jpeg?cs=srgb&dl=ball-cheers-crowd-59884.jpg&fm=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#corporate {
    width: 100%;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/260689/pexels-photo-260689.jpeg?cs=srgb&dl=black-and-white-board-boardroom-260689.jpg&fm=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#movies {
    width: 100%;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/1046151/pexels-photo-1046151.jpeg?cs=srgb&dl=action-adult-auto-racing-1046151.jpg&fm=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}