<!-- ------------------------------------------- 
        NEWSLETTER SECTION
 ------------------------------------------- -->

<div class="newsletter-section">

  <div class="ui grid">

    <!-- Title -->
    <div class=" four wide computer column"></div>
    <div class=" sixteen wide mobile sixteen wide tablet eight wide computer column center aligned">
      <h2 class="newsletter-title">Sign up for our newsletter to receive special offers.</h2>

      <!-- Input -->
      <div class="ui action input">
        <input type="text" placeholder="Enter your email address">
        <button class="ui button center aligned">OK</button>
      </div>
    </div>
    <div class=" four wide computer column"></div>
  </div>
</div>