<div class="about-us">

    <div class="ui grid">
        <div class="one wide column"></div>
        <div class="fourteen wide column image center aligned">
            <h1 class="main-title">About Us</h1>
            <img src="http://netgon.net/artstyles/oliver/new/dark/img/hello-image3.jpg">
        </div>
        <div class="one wide column"></div>
    </div>
    <br>
    <div class="ui grid" style="margin-top: 8%">

        <div class="two wide tablet five wide computer column"></div>
        <div class="sixteen wide mobile twelve wide tablet six wide computer column image center aligned">
            <h2 class="subtitle center aligned">Hello.</h2>
            <p class="paragrpah-about-us">
                All that we do is work on the style of life, on "being." The object as such is not very interesting. I
                wonder how people will live with him, what metamorphoses he will undergo in the house. I always liked
                very simple things. In all. Doing simple things is the most difficult thing. If we talk about
                simplicity, then it is a synthesis.
            </p>
            <h4 class="autor">Edward Oliver</h4>
        </div>
        <div class="two wide tablet five wide computer column"></div>
    </div>
</div>
