/********************************************* 
                 ABOUT US STYLES
**********************************************/

/* About Us section */
.about-us-section {
    width: -webkit-fit-content;
    height: -webkit-fit-content;
    width: -moz-fit-content;
    height: -moz-fit-content;
    padding-bottom: 20%;
    background-color: red;
}

/*Media querie to resize de font size of the main title*/

@media screen and (min-width: 900px) {
    .main-title {
        color: var(--dark-black-2);
        font-size: 230px;
        letter-spacing: 15px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding-top: 130px;
        z-index: -1;
    }
}

@media screen and (max-width: 890px) {
    .main-title {
        color: var(--dark-black-2);
        font-size: 150px;
        letter-spacing: 15px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding-top: 170px;
        z-index: -1;
    }
}

@media screen and (max-width: 580px) {
    .main-title {
        color: var(--dark-black-2);
        font-size: 100px;
        letter-spacing: 15px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding-top: 170px;
        z-index: -1;
    }
}

@media screen and (max-width: 420px) {
    .main-title {
        color: var(--dark-black-2);
        font-size: 60px;
        letter-spacing: 10px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding-top: 80px;
        /* margin-top: 30px; */
        z-index: -1;
    }
}

.image img {
    position: absolute;
    width: 28%;
    top: 50%;
    left: 50%;
    margin-top: -14%;
    margin-left: -14%;
    /* Half the width */
}

@media screen and (max-width: 420px) {
    .image img {
        position: absolute;
        width: 25%;
        top: 50%;
        left: 50%;
        margin-top: -14%;
        margin-left: -14%;
        /* Half the width */
    }
}

.subtitle {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    letter-spacing: 4px;
    color: white;
    align-content: center;
    display: inline-block;
    letter-spacing: .2rem;
    padding: 4px 0;
    position: relative;
    text-decoration: none;
    z-index: 1;
    margin-top: 30px;
}

.subtitle::before {
    background-color: #5328fe !important;
    left: -16px;
    width: 120%;
    content: '';
    height: 33%;
    position: absolute;
    top: 60%;
    opacity: 1;
    z-index: -1;
}

.subtitle::after {
    /* width: 100%; */
    border-left: 1px solid white;
    content: '';
    height: 100%;
    position: absolute;
    left: 50%;
    top: -150%;
    opacity: 1;
    z-index: -1;
}

/* Paragraph About Us */
.paragrpah-about-us {
    margin-top: 40px;
    color: white;
    line-height: 30px;
    z-index: 1;
    position: relative;
    padding: 20px;
    font-style: italic;
}

/* Autor */
.autor {
    color: white;
    top: 30%;
    position: relative;
    float: center;
    transform: rotate(0deg);
    letter-spacing: 2px;
    padding-top: 0px;
    margin-top: 15px;
}

@media screen and (max-width: 420px) {
    .autor {
        color: white;
        top: 8%;
        position: relative;
        float: center;
        transform: rotate(0deg);
        letter-spacing: 2px;
        padding-top: 0px;
        margin-top: 15px;
    }
}

.autor::after {
    width: 4%;
    border-top: 2px solid white;
    content: '';
    height: 50%;
    position: absolute;
    left: 33%;
    top: 50%;
    opacity: 1;
    z-index: -1;
}