/********************************************* 
                 ABOUT US STYLES
**********************************************/

.about-us {
    background-color: var(--light-black);
    height: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    z-index: -5;
    padding-bottom: 30px;
}

/*Media querie to resize de font size of the main title*/
@media screen and (min-width: 900px) {
    .main-title {
        color: var(--dark-black-2);
        font-size: 230px;
        letter-spacing: 15px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding-top: 130px;
        z-index: -1;
    }
}

@media screen and (max-width: 890px) {
    .main-title  {
        color: var(--dark-black-2);
        font-size: 150px;
        letter-spacing: 15px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding-top: 170px;
        z-index: -1;
    }
}

@media screen and (max-width: 580px) {
    .main-title  {
        color: var(--dark-black-2);
        font-size: 100px;
        letter-spacing: 15px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding-top: 170px;
        z-index: -1;
    }
}

@media screen and (max-width: 420px) {
    .main-title  {
        color: var(--dark-black-2);
        font-size: 60px;
        letter-spacing: 10px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding-top: 170px;
        z-index: -1;
    }
}

.image {
    position: relative;
}

/* .image::after {
    content: '';
    background: url(../../../assets/violet-dots.svg);
    background-repeat: no-repeat;
    width: 40%;
    height: 40%;
    margin-top: 300px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    top: 50%;
    opacity: 1;
    z-index: 1;
} */

.image img {
    position: absolute;
    width: 28%;
    top: 250px;
    left: 50%;
    margin-top: -14%;
    margin-left: -14%;
    /* Half the width */
}

.dots {
    position: absolute;
    /* display: inline; */
    background: url(../../../assets/violet-dots.svg);
    background-repeat: no-repeat;
    z-index: 4;
    bottom: 0;
    left: 50%;
    width: 100px;
    height: 100px;
    float: right;
}

.subtitle{
    font-family: 'Merriweather', serif;
    font-size: 40px;
    letter-spacing: 4px;
    color: white;
    align-content: center;
}

.paragrpah-about-us{
    font-style: oblique;
    color: white !important;
    line-height: 25px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.autor{
    color: white;
    top:50%;
    position:relative;
    float:center; 
    transform: rotate(0deg);
    letter-spacing: 2px;
    padding-top: 0px;
    margin-top: -50px;
}
.autor::after{
    width: 4%;
    border-top: 2px solid white;
    content: '';
    height: 50%;
    position: absolute;
    left: 33%;
    top: 50%;
    opacity: 1;
    z-index: -1;
}