<div class="testimonials">
  <div class="ui grid" style="margin-top: 26%">

    <div class="two wide tablet five wide computer column"></div>
    <div class="sixteen wide mobile twelve wide tablet six wide computer column image center aligned">
      <h2 class="title center aligned">Testimonials.</h2>
    </div>
    <div class="two wide tablet five wide computer column"></div>
  </div>

  <div class="ui three stackable grid" style="margin-top: 9%">
      <div class="three column row">
          <div class="red column"></div>
          <div class=" blue column"></div>
          <div class="yellow column"></div>
        </div>
  </div>


</div>