<!-- ------------------------------------ 
          NAVBAR COMPONENT
 ------------------------------------ -->
<div id="navbar">
    <div class="full-width-mobile-menu mobile-sticky " *ngIf="showMobileMenu">
        <div class="ui grid">
            <div class="sixteen column center aligned animated" id="mobile">
                <h1 ><a (click)="goTo('home')" id="home-mobile">Home</a></h1>
                <h1><a (click)="goTo('about')" id="about-mobile">About me</a></h1>
                <h1><a (click)="goTo('contact')" id="contact-mobile">Contact</a></h1>
                <h1><a (click)="goTo('works')" id="works-mobile">Works</a></h1>
                <h1><a (click)="goTo('journal')" id="journal-mobile">Journal</a></h1>
                <h1><a (click)="goTo('news')" id="news-mobile">News</a></h1>
                <br>
                <br>
                <a><i class="white-text big close icon" (click)="hide()" style="cursor: pointer;"></i></a>
            </div>
        </div>
    </div>
    <div>
        <ul id="navbar">
            <!-- Desktop -->
            <div class="hide-on-med-and-down">
                <li><a [routerLink]="['/news']" routerLinkActive="active">News</a></li>
                <li><a [routerLink]="['/contact']" routerLinkActive="active">Contact.</a></li>
                <li><a [routerLink]="['/journal']" routerLinkActive="active">Journal.</a></li>
                <li><a [routerLink]="['/works']" routerLinkActive="active">Works.</a></li>
                <li><a [routerLink]="['/about']" routerLinkActive="active">About me.</a></li>
                <li><a [routerLink]="['/home']" routerLinkActive="active" id="home">Home.</a></li>
                <div class="logo"><a [routerLink]="['/']">
                        <img src="../../../assets/logo.svg" width="100%">
                    </a></div>
            </div>
            <!-- Mobile Sticky-->
            <div class="hide-on-large-only" *ngIf="!showMobileMenu">
                <li><i class="white-text bars icon" (click)="show()" style="cursor: pointer;"></i></li>
                <div class="logo"><a [routerLink]="['/']">
                        <img src="../../../assets/logo.svg" width="100%">
                    </a></div>
            </div>



        </ul>