<!-- ----------------------------------- 
              My Work section 
 ----------------------------------- -->

<section class="my-work-section">
  <div class="ui container">
    <h2 class="title center aligned">My works.</h2>
    <div class="ui grid">
      <div class="sixteen wide mobile sixteen wide tablet eight wide computer column paragraph" width="60%">
        <p>
          A photo — is a search for what can get into the frame. When you limit events to a frame — You change these
          events.
        </p>
      </div>
    </div>
  </div>

  <div class="ui grid gallery-grid">
    <div class="stretched row">
      <!-- Work 1 -->
      <div class=" eight wide mobile eight wide tablet four wide computer column layer" id="work1">
        <div class="photo-work">
          <div class="overlay">
            <div class="photo-attribute">Make</div>
            <p class="photo-detail">Canon</p>

            <div class="photo-attribute">Model</div>
            <p class="photo-detail">Canon EOS 5D Mark II</p>

            <div class="photo-attribute">Shutter speed</div>
            <p class="photo-detail">Canon EOS 5D Mark II</p>

            <div class="photo-attribute">Aperture</div>
            <p class="photo-detail"><span style="font-style: italic">f </span>/4.5</p>

            <div class="photo-attribute">Focal Lenght</div>
            <p class="photo-detail">230mm</p>

            <div class="photo-attribute">ISO</div>
            <p class="photo-detail">250</p>
          </div>
        </div>
      </div>
      <!-- Work 2 -->
      <div class="sixteen wide mobile eight wide tablet four wide computer column  layer" id="work2">
        <div class="photo-work">
          <div class="overlay">
            <div class="photo-attribute">Make</div>
            <p class="photo-detail">Canon</p>

            <div class="photo-attribute">Model</div>
            <p class="photo-detail">Canon EOS 5D Mark II</p>

            <div class="photo-attribute">Shutter speed</div>
            <p class="photo-detail">Canon EOS 5D Mark II</p>

            <div class="photo-attribute">Aperture</div>
            <p class="photo-detail"><span style="font-style: italic">f </span>/4.5</p>

            <div class="photo-attribute">Focal Lenght</div>
            <p class="photo-detail">230mm</p>

            <div class="photo-attribute">ISO</div>
            <p class="photo-detail">250</p>
          </div>
        </div>
      </div>
      <!-- Work 3 -->
      <div class="sixteen wide mobile eight wide tablet eight wide computer column layer" id="work3">
        <div class="photo-work">
          <div class="overlay">
            <div class="photo-attribute">Make</div>
            <p class="photo-detail">Canon</p>

            <div class="photo-attribute">Model</div>
            <p class="photo-detail">Canon EOS 5D Mark II</p>

            <div class="photo-attribute">Shutter speed</div>
            <p class="photo-detail">Canon EOS 5D Mark II</p>

            <div class="photo-attribute">Aperture</div>
            <p class="photo-detail"><span style="font-style: italic">f </span>/4.5</p>

            <div class="photo-attribute">Focal Lenght</div>
            <p class="photo-detail">230mm</p>

            <div class="photo-attribute">ISO</div>
            <p class="photo-detail">250</p>
          </div>
        </div>
      </div>
      <!-- Work 4 -->
      <div class="sixteen wide mobile eight wide tablet eight wide computer column layer" id="work5">
        <div class="photo-work">
          <div class="overlay">
            <div class="photo-attribute">Make</div>
            <p class="photo-detail">Canon</p>

            <div class="photo-attribute">Model</div>
            <p class="photo-detail">Canon EOS 5D Mark II</p>

            <div class="photo-attribute">Shutter speed</div>
            <p class="photo-detail">Canon EOS 5D Mark II</p>

            <div class="photo-attribute">Aperture</div>
            <p class="photo-detail"><span style="font-style: italic">f </span>/4.5</p>

            <div class="photo-attribute">Focal Lenght</div>
            <p class="photo-detail">230mm</p>

            <div class="photo-attribute">ISO</div>
            <p class="photo-detail">250</p>
          </div>
        </div>
      </div>
      <!-- Work 5 -->
      <div class="sixteen wide mobile eight wide tablet four wide computer column  layer" id="work6">
        <div class="photo-work">
          <div class="overlay">
            <div class="photo-attribute">Make</div>
            <p class="photo-detail">Canon</p>

            <div class="photo-attribute">Model</div>
            <p class="photo-detail">Canon EOS 5D Mark II</p>

            <div class="photo-attribute">Shutter speed</div>
            <p class="photo-detail">Canon EOS 5D Mark II</p>

            <div class="photo-attribute">Aperture</div>
            <p class="photo-detail"><span style="font-style: italic">f </span>/4.5</p>

            <div class="photo-attribute">Focal Lenght</div>
            <p class="photo-detail">230mm</p>

            <div class="photo-attribute">ISO</div>
            <p class="photo-detail">250</p>
          </div>
        </div>
      </div>
      <!-- Work 6 -->
      <div class="sixteen wide mobile eight wide tablet four wide computer column layer" id="work4">
        <div class="photo-work">
          <div class="overlay">
            <div class="photo-attribute">Make</div>
            <p class="photo-detail">Canon</p>

            <div class="photo-attribute">Model</div>
            <p class="photo-detail">Canon EOS 5D Mark II</p>

            <div class="photo-attribute">Shutter speed</div>
            <p class="photo-detail">Canon EOS 5D Mark II</p>

            <div class="photo-attribute">Aperture</div>
            <p class="photo-detail"><span style="font-style: italic">f </span>/4.5</p>

            <div class="photo-attribute">Focal Lenght</div>
            <p class="photo-detail">230mm</p>

            <div class="photo-attribute">ISO</div>
            <p class="photo-detail">250</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Summary Works -->
  
  <div class="ui grid summary-grid">
    <div class=" two wide tablet two wide computer column"></div>

    <div class=" sixteen wide mobile four wide tablet three wide computer column">
      <h3 class="summary-count">1270<br><span class="summary-description">Clients</span> </h3>
    </div>
    <div class=" sixteen wide mobile four wide tablet three wide computer column">
      <h3 class="summary-count">4357<br><span class="summary-description">Photos</span></h3>
    </div>

    <div class=" sixteen wide mobile four wide tablet three wide computer column">
      <h3 class="summary-count">634<br><span class="summary-description">Albums</span></h3>
    </div>
    <div class="  two wide tablet two wide computer column"></div>
  </div>


</section>