/********************************************* 
                 MY WORKS STYLES
**********************************************/

.my-work {
    background-color: var(--light-black);
    height: 135%;
    min-height: 100vh;
    background-repeat: no-repeat;
    z-index: -5;
    padding-top: 40px;
}

/*Media queries to resize the background section height*/
@media screen and (max-width: 991px) {
    .my-work {
        background-color: var(--light-black);
        height: 215%;
        min-height: 100vh;
        background-repeat: no-repeat;
        z-index: -5;
        padding-top: 40px;
    }

    .padding-left{
        padding-left: 20%;
    }
}

@media screen and (max-width: 460px) {
    .my-work {
        background-color: var(--light-black);
        height: 225%;
        min-height: 100vh;
        background-repeat: no-repeat;
        z-index: -5;
        padding-top: 40px;
    }

    .padding-left{
        padding-left: 8%;
    }
}

/*Media querie to resize main container in mobile*/
@media screen and (max-width: 537px) {
    .main{
        left: 60%;
        margin-left: -5% !important;
    }
}



.title {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    letter-spacing: 4px;
    color: white;
    align-content: center;
    display: inline-block;
    letter-spacing: 6px;
    padding: 4px 0;
    position: relative;
    text-decoration: none;
    z-index: 1;
    margin-top: 30px;
    padding-left: 160px;
}

.title::before {
    border-bottom: 1px solid white;
    left: 105px;
    width: 25%;
    content: '';
    height: 33%;
    position: absolute;
    top: 110%;
    opacity: 1;
    z-index: -1;
}

.title::after {
    content: '03.';
    color: var(--dark-black-2);
    font-family: 'Poppins', sans-serif;
    font-size: 240px;
    letter-spacing: 25px;
    left: -90px;
    width: 40%;
    height: 33%;
    position: absolute;
    top: 330%;
    z-index: -2;
}

.photo-paragraph p {
    margin-top: 40px;
    color: white;
    line-height: 30px;
    z-index: 1;
    position: relative;
    padding-left: 160px;
}

/* .summary h3{
    font-size: 40px;
    font-family: 'Merriweather', serif;
    letter-spacing: 5px;
    position: relative;
} */

.summary {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    letter-spacing: 4px;
    color: white;
    align-content: center;
    display: inline-block;
    letter-spacing: 6px;
    padding: 4px 0;
    position: relative;
    text-decoration: none;
    z-index: 1;
    margin-top: 30px;
    padding-left: 160px;
}
.summary-subtitle {
    position: absolute;
    color: white;
    font-family: 'Poppins', serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: -8px;
    padding-top: -10px;
}

.summary::before {
    border-bottom: 1px solid white;
    left: 65px;
    width: 25%;
    content: '';
    height: 33%;
    position: absolute;
    top: 55%;
    opacity: 1;
    z-index: -1;
}

.summary::after {
    background-color: #5328fe !important;
    left: 152px;
    width: 45%;
    content: '';
    height: 33%;
    position: absolute;
    top: 57%;
    opacity: 1;
    z-index: -1;
}

.photo-work{
    height: 150px;
}

#work1 {
    width: 100%;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/1647975/pexels-photo-1647975.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#work2 {
    width: 100%;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/1854868/pexels-photo-1854868.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
 #work3 {
    width: 100%;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/1285625/pexels-photo-1285625.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#work4 {
    width: 100%;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/1125278/pexels-photo-1125278.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#work5 {
    width: 100%;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/1661682/pexels-photo-1661682.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#work6 {
    width: 100%;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/1450082/pexels-photo-1450082.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 
