<div class="my-work">
  <div class="ui container">
    <h2 class="title center aligned">My works.</h2>
    <div class="ui grid">
      <div class="sixteen wide mobile sixteen wide tablet eight wide computer column photo-paragraph" width="60%">
        <p>
          A photo — is a search for what can get into the frame. When you limit events to a frame — You change these
          events.
        </p>
      </div>
    </div>
  </div>

  <!-- <figure class="imghvr-fade" style="margin-top: 15%">
    <img src="https://envato-shoebox-0.imgix.net/5471/3ded-8bbc-48c4-bc36-ad31807ad6ed/K-133-Rung-3610.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=800&s=d811af2a24fb8a4e2a0519628d0d0d7b" width="400px">
    <figcaption>
      // Hover Content
    </figcaption>
  </figure> -->

  <div class="ui grid" style="margin-top: 9%">
    <div class="stretched row">
      <div class="dark-black eight wide mobile eight wide tablet four wide computer column">
        <div style="height: 450px;">

        </div>
      </div>
      <div class="dark-black-2 eight wide mobile eight wide tablet four wide computer column">

      </div>
      <div class="dark-black eight wide mobile eight wide tablet four wide computer column">
        <div style="height: 450px;">

        </div>
      </div>
      <div class="dark-black-3 eight wide mobile eight wide tablet four wide computer column">
        <div style="height: 450px;">

        </div>

      </div>
    </div>
  </div>


    <div class="ui grid left aligned" style="margin-top: 50px">
      <div class=" two wide computer column"></div>
      <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
        <h3 class="summary">1270<br><span class="summary-subtitle">Clients</span> </h3>
      </div>
      <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
        <h3 class="summary">4357<br><span class="summary-subtitle">Photos</span></h3>
      </div>

      <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
        <h3 class="summary">634<br><span class="summary-subtitle">Albums</span></h3>
      </div>
      <div class=" two wide computer column"></div>
    </div>
 
</div>