/******************************************** 
              Global styles
*********************************************/

:root {
    --dark-black: #0B0B0B;
    --dark-black-2: #181818;
    --dark-black-3: #212121;
    --light-black: #111111;
    --violet: #5328fe;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    -webkit-text-size-adjust: 100%;
}

/* Text */
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1.2;
  }

/* Colors */
.light-black {
    background-color: var(--light-black) !important;
}

.dark-black {
    background-color: var(--dark-black) !important;
}

.dark-black-2 {
    background-color: var(--dark-black-2) !important;
}

.dark-black-3 {
    background-color: var(--dark-black-3) !important;
}

.white-text {
    color: white !important;
}

.divider {
    border-top: 2px solid white;
    width: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    margin-left: -50px;
}

.ui.grid {
    margin-right: 0px !important;
}