/********************************************* 
            FOOTER SECTION STYLES
**********************************************/

.footer-section {
    width: 100%;
    height: -webkit-fit-content;
    width: 100%;
    height: -moz-fit-content;
    padding: 20px 0px 50px 0px;
    top: -150px !important;
    background-color: var(--light-black);
}

.footer-title {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: white;
    padding-left: 10px;
}

.footer-content {
    color: white;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 14px;
    padding-left: 10px;
}